body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the body take up the full height of the viewport */
    margin: 0; /* Remove default margin */
}


.left-panel {
    margin-right: 20px; /* Adjust as needed */
}


.right-panel {
    position: absolute;
    right: 0;
}


#centered-container {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
}
