html {
    background-color: black
}

body {
    color: white
}


.left-panel {
    margin-right: 20px; /* Adjust as needed */
}


.right-panel {
    position: absolute;
    right: 0;
    padding: 10px 10px 10px 10px /*can move shit around with padding pog*/
}


.centered-container {
    text-align: center;
    margin-top: 25px; /* Adjust as needed */
}

.centered-container2 {
    text-align: center;
    margin-top: 10px; /* Adjust as needed */
}
